<div class="text-center h3 mb-5 py-3", style="background: #EBF1F5;">
  新規投稿フォーム
</div>

<div class="container">
  <div class="row p-3 mb-5">
    <div class="mx-auto">
      <div class="row py-3 ">
        <div class="col">
          <%= form_with model: @post, url: public_posts_path do |f| %>
            <h5>タイトル</h5>
            <%= f.text_field :title, rows:'4',cols:'50', class: "text-area row mx-auto" %>
            <h5 class="mt-3">本文</h5>
            <%= f.text_area :introduction, rows:'6',cols:'50', placeholder: "文章をここに入力して下さい", class: "text-area row mx-auto" %>
            <h5 class="mt-3">ジャンル</h5>
            <%= f.collection_select :genre_id, Genre.all, :id, :name %>
            <h5 class="mt-3"><%= f.label :画像 %></h5>
            <%= f.file_field :images, multiple: true, accept: "image/*" %>
            <div class="mt-3"></div>
              <%= f.submit '投稿する', class:"btn btn-info my-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>