<div class="text-center h3 mb-5 py-3">
  コメント詳細
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-8">

      <table class="table table-bordered bg-white">
        <tr>
          <th class="text-nowrap bg-light" style="width: 150px;">
            コメント日時:
          </th>
          <td>
            <%= @post_comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
          </td>
        </tr>

        <tr>
          <th class="bg-light">
            コメント:
          </th>
          <td>
            <%= @post_comment.comment %>
          </td>
        </tr>

        <tr>
          <th class="bg-light">会員:</th>
          <td>
            <%= image_tag @post_comment.customer.get_profile_image(50,50), class:"icon" %>

            <%= link_to admin_customer_path(@post_comment.customer), class:"offset-1" do %>
              <%= @post_comment.customer.name %>
            <% end %>
          </td>
        </tr>
      </table>

      <div class="text-center mt-4">
        <%= link_to "削除する", admin_post_comment_path(@post_comment), method: :delete, data:{confirm: "本当に削除しますか？"}, class:"btn btn-danger px-4" %>
      </div>

    </div>
  </div>
</div>
